<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8" />
	<load href="__PUBLIC__/css/bootstrap.min.css" />
	<load href="__PUBLIC__/css/teacher.css" />
	<title>隆昌二中教师评价系统</title>
	<style>
		#dname{ background:url(__PUBLIC__/css/image/head.jpg) repeat-x #fff; }
	</style>
</head>
<body>

<div id="content" >
	<div class="text-center dname" id="dname">{$one.dname}</div>
	<div class="index_content top10 info">{$one.begininfo}</div>
	<div class="container-fluid bottom10 top10">
		<div class="row bottom10 ">
			<div class="col-sm-4 col-sm-push-4">
				<a href="{:U('look?did='.$one['did'])}" class="btn btn-info btn-block">知道了，继续……</a>
			</div>
		</div>
	</div>
</div>

<include file='base/footer' />
</body>
</html>